    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <link rel="icon" type="image/png" href="rtp.png">
    <title>Civic Complaint Management System</title>
    </head>
    <body>
    <div class="toggle-dark" onclick="toggleDarkMode()">🌙</div>

    <header>
        <h2>Civic Complaint Management System</h2>
    </header>

    <!-- Dashboard Section -->
    <div class="container" id="dashboard">
        <h3>Dashboard</h3>
        <a href="fileComplaint.html"><button>File Complaint</button></a>
        <a href="trackComplaint.html"><button>Track Complaint</button>
        <a href="allComplaints.html"><button>All Complaints</button>
    </div>
    </body>
    </html>
